{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'looper.css' %}">


<div class="looper">
    <div class="player" id="player">

    <script>
        tag = document.createElement('script');

        start_temp = {{ start_video }}
            stop_temp = {{ stop_video }}

                tag.src = "https://www.youtube.com/iframe_api";
        firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                playerVars: {'autoplay': 0, 'loop': 1},
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                },
            });
        }

        function onPlayerReady(event) {
            event.target.loadVideoById({
                'videoId': '{{song_url}}',
                'startSeconds': '{{ start_video }}',
                'endSeconds': '{{ stop_video }}',
                'suggestedQuality': 'small',
            });
        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
                event.target.loadVideoById({
                    'videoId': '{{song_url}}',
                    'startSeconds': '{{ start_video }}',
                    'endSeconds': '{{ stop_video }}',
                    'suggestedQuality': 'small',
                });
            }
        }

    </script>
    </div>
    <div class="loop">
    <br><br>
    <p>Start: {{ start_video }} - Stop: {{ stop_video }} </p>
    <br><br>
    </div>
    {% for part in parts %}
        <div class="loop">
        <form action="" method="POST">
            {% csrf_token %}
            <br><br>
            <div class="values">
            <label for="start_value"> START:</label>
            <input id="start_value" type="number" name="start_value" value={{ part.start_p }} min=0
                   max={{ part.stop_p }}>
            <label for="stop_value"> STOP:</label>
            <input id="stop_value" type="number" name="stop_value" value={{ part.stop_p }} min={{ part.start_p }}
                   max={{ length }}>
            <input id="id_value" type="hidden" name="id_value" value={{ part.id }}>
            <input type="submit" value="Change">
            
            
                <a class="s_button" href="{% url 'delete_loop' id=part.id %}" role="button"> Delete
                </a>
            </div>
            
        </form>
    </div>
    {% endfor %}

    <div class="s_button_plus">
        <a href="{% url 'add_loop' song_url=song_url %}" role="button"> 
            <ion-icon name="add-circle"></ion-icon>
        </a>
    </div>
</div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
