.looper {
    height: 100%;
    margin-top: 10%;
    float: left;
}

 



p {
    width: 100%;
    color: #fff;
    
    
}
.looper label{
    color: #fff;
    
}




.values .s_button a{
    color: #fff;
    text-decoration: none;
}

.values .s_button a:hover {
    text-decoration: underline;
}

a {
    color: #fff;
}

ion-icon {
  color: #fff !important;
}




